<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLite.Settings.RegExp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SQLite.RegExp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SQLite.Properties.Settings.moviemanagerConnectionString"
            connectionString="data source=C:\MMProject\MovieManager.APP\bin\Debug\Settings\moviemanager.sqlite"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <applicationSettings>
        <SQLite.Settings.RegExp>
            <setting name="EpisodeRegExp" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SQLite.Settings.RegExp>
        <SQLite.RegExp>
            <setting name="EpisodeRegExp" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OK</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SQLite.RegExp>
    </applicationSettings>
</configuration>