<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tmc.WinUI.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Tmc.WinUI.Application.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tmc.WinUI.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TheMovieCollectorEntities" connectionString="metadata=res://*/VideoModel.csdl|res://*/VideoModel.ssdl|res://*/VideoModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\MMProject\Other\Database\TheMovieCollector.sdf&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="moviemanagerConnectionString" connectionString="data source=C:/ProgramData/TheMovieCollector/Database/TheMovieCollector.sdf" providerName="System.Data.SQLite" />-->
		<add name="TmcContext" connectionString="Data Source=C:\MMproject\Other\Database\TheMovieCollector.sdf" providerName="System.Data.SqlServerCe.4.0"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=";lib"/>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="defaultVideoLocation" value="M:\Downloads\movies"/>
    <add key="defaultVideoLocation1" value="E:\films"/>
    <add key="defaultVideoFilesLocation" value="C:\Users\Berty\Desktop\videos_test"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
  <applicationSettings>
    <Tmc.WinUI.Application.Properties.Settings>
      <setting name="testje" serializeAs="String">
        <value>jepla</value>
      </setting>
    </Tmc.WinUI.Application.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Tmc.WinUI.Application.Properties.Settings>
      <setting name="RenamingMovieFileSequence" serializeAs="String">
        <value />
      </setting>
      <setting name="RenamingEpisodeFileSequence" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimumVideoFileSize" serializeAs="String">
        <value>200000000</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source={path}</value>
      </setting>
      <setting name="VisibleMainViewColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaPlayerPlayOnDoubleClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Log_Level" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="Log_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cache_folder" serializeAs="String">
        <value>TheVideoCollector\Cache</value>
      </setting>
      <setting name="ImageQuality" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="Cache_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedMediaPlayer" serializeAs="String">
        <value>VLC</value>
      </setting>
      <setting name="DatabasePath" serializeAs="String">
        <value>%APPDATA%\TheMovieCollector\Database\TheMovieCollector.sdf</value>
      </setting>
      <setting name="MediaPlayerSettings" serializeAs="Xml">
        <value>
          <MediaPlayerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <SelectedMediaPlayer>VLC Media Player</SelectedMediaPlayer>
            <MediaPlayers>
              <MediaPlayer>
                <Key xsi:type="xsd:string">Internal Player</Key>
                <Value xsi:type="xsd:string" />
              </MediaPlayer>
              <MediaPlayer>
                <Key xsi:type="xsd:string">VLC Media Player</Key>
                <Value xsi:type="xsd:string">C:\Program Files (x86)\VideoLAN\VLC\vlc.exe</Value>
              </MediaPlayer>
            </MediaPlayers>
          </MediaPlayerSettings>
        </value>
      </setting>
    </Tmc.WinUI.Application.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
