<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieManager.APP.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieManager.APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="moviemanagerConnectionString" connectionString="data source=C:/ProgramData/MovieManager/Database/moviemanager.sqlite" providerName="System.Data.SQLite" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=";lib" />
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="defaultVideoLocation" value="M:\Downloads\movies" />
    <add key="defaultVideoLocation1" value="E:\films" />
    <add key="defaultVideoFilesLocation" value="C:\Users\Berty\Desktop\videos_test" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
  <applicationSettings>
    <MovieManager.APP.default>
      <setting name="abc" serializeAs="String">
        <value>a</value>
      </setting>
    </MovieManager.APP.default>
  </applicationSettings>
  <userSettings>
    <MovieManager.APP.Properties.Settings>
      <setting name="RenamingMovieFileSequence" serializeAs="String">
        <value />
      </setting>
      <setting name="RenamingEpisodeFileSequence" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimumVideoFileSize" serializeAs="String">
        <value>200000000</value>
      </setting>
      <setting name="DatabasePath" serializeAs="String">
        <value>C:\ProgramData\MovieManager\Database\moviemanager.sqlite</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source={path}</value>
      </setting>
      <setting name="VisibleMainViewColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaPlayerPlayOnDoubleClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Log_Level" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="Log_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cache_folder" serializeAs="String">
        <value>TheVideoCollector\Cache</value>
      </setting>
      <setting name="ImageQuality" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="Cache_enabled" serializeAs="String">
        <value>True</value>
      </setting>
    </MovieManager.APP.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>