<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MovieManager.APP.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="RibbonControlsLibrary" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.11019" newVersion="4.0.0.11019"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <appSettings>
    <add key="defaultVideoLocation" value="M:\Downloads\movies"/>
    <add key="defaultVideoLocation1" value="E:\films"/>
    <add key="defaultVideoFilesLocation" value="C:\Users\Berty\Desktop\videos_test"/>
    
  </appSettings>
  <applicationSettings>
    <MovieManager.APP.default>
      <setting name="abc" serializeAs="String">
        <value>a</value>
      </setting>
    </MovieManager.APP.default>
  </applicationSettings>
</configuration>
